/**
 * Content (objects/_content.scss)
 */

/* ----- Headings ----- */
.content {
	> :first-child {
		margin-top: 0;
	}

	/* ----- Links ----- */
	a {
		transition: color .2s ease, border-color .2s ease;

		&:hover,
		&:focus {
			color: $color-link-hover;
			border-color: $color-link-hover;
			border-bottom-style: dashed;
		}
	}
}
